footer.footer-section
  .footer__top
    .container
      .row
        .col-lg-6.col-md-6
          .footer__top-call
            h5 Need Help? Call us
            h2 +1 175 946 2316 096
        .col-lg-6.col-md-6
          .footer__top-auth
            h5 Join Now And Have Free Month Of Deluxe Hosting
            a.primary-btn(href='#') Log in
            a.primary-btn.sign-up(href='#') Sign Up
  .footer__text.set-bg(data-setbg='img/footer-bg.png')
    .container
      .row
        .col-lg-4.col-md-6.col-sm-12
          .footer__text-about
            .footer__logo
              a(href='./index.html')
                img(src='img/logo.png', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              | ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida viverra maecen
              | lacus vel facilisis.
            .footer__social
              a(href='#')
                i.fa.fa-facebook
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-youtube-play
              a(href='#')
                i.fa.fa-instagram
        .col-lg-2.col-md-6.col-sm-6
          .footer__text-widget
            h5 Company
            ul
              li
                a(href='#') Company
              li
                a(href='#') About Us
              li
                a(href='#') Press & Media
              li
                a(href='#') News / Blogs
              li
                a(href='#') Careers
        .col-lg-2.col-md-6.col-sm-6
          .footer__text-widget
            h5 Hosting
            ul
              li
                a(href='#') Web Hosting
              li
                a(href='#') Reseller Hosting
              li
                a(href='#') VPS Hosting
              li
                a(href='#') Dedicated Servers
              li
                a(href='#') Cloud Hosting
        .col-lg-4.col-md-6.col-sm-12
          .footer__text-widget
            h5 cONTACT US
            ul.footer__widget-info
              li
                span.fa.fa-map-marker
                |  500 South Main Street Los Angeles,
                br
                |                                     ZZ-96110 USA
              li
                span.fa.fa-mobile
                |  125-711-811 | 125-668-886
              li
                span.fa.fa-headphones
                |  Support.hosting@gmail.com
      .footer__text-copyright
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright ©
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.fa.fa-heart(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com', target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
