footer.footer-section
  .footer__top
    .container
      .row
        .col-lg-6.col-md-6
        .col-lg-6.col-md-6
          .footer__top-auth
            h5 همین حالا ثبت نام کنید و از یک هفته اکانت رایگان لذت ببرید
            a.primary-btn(href='/signin') ورود
            a.primary-btn.sign-up(href='/signup') ثبت نام
  .footer__text.set-bg(data-setbg='/img/footer-bg.png')
    .container
      .row
        .col-lg-4.col-md-6.col-sm-12
          .footer__text-about
            .footer__logo
              a(href='./index.html')
                img(src='/img/logo.png', alt='')
            .footer__social
              a(href='#')
                i.fa.fa-facebook
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-youtube-play
              a(href='#')
                i.fa.fa-instagram
        .col-lg-2.col-md-6.col-sm-6
          .footer__text-widget
            h5 i-robot
            ul
              li
                a(href='/#discountPlan') طرح تخفیف
              li
                a(href='/pricing') اکانت‌ها
              li
                a(href='/about') درباره‌ما
        .col-lg-2.col-md-6.col-sm-6
          .footer__text-widget
            h5 سرویس ها
            ul
              li
                a(href='#') ربات اینستاگرام
              li
                a(href='#') خرید و فروش پیج
        .col-lg-4.col-md-6.col-sm-12
          .footer__text-widget
            h5 تماس باما
            ul.footer__widget-info
              li
                span.fa.fa-headphones
                |  i_robot.ir@yahoo.com
      .footer__text-copyright
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright ©
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved 
          i.fa.fa-heart(aria-hidden='true')
          |  by 
          a(href='#') i-robot.ir
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
