// Offcanvas Menu Begin
.offcanvas__menu__overlay
.offcanvas__menu__wrapper
  .canvas__close
    span.fa.fa-times-circle-o
  .offcanvas__logo
    a(href='/')
      img(src='/img/logo.png', alt='')
  nav.offcanvas__menu.mobile-menu
    ul
      li
        a(href='/contact') تماس باما
      li
        a(href='/about') درباره‌ما
      li
        a(href='/pricing') اشتراک‌ها
      li.active
        a(href='/') خانه
  #mobile-menu-wrap
  .offcanvas__auth
    ul
      if(user)
        li
          span.fa.fa-user کیف‌ پول:
        li
          a(href='/profile')
            span.fa.fa-user کنترل پنل
        li
          a.logout(href='')
            span.fa خروج

      else
        li
          a(href='/signin')
            span.fa.fa-user ثبت نام/ ورود
  .offcanvas__info
    ul
      li
        span.fa.fa-envelope
        |  i_robot.ir@yahoo.com
      li
        span.icon_phone
        |  09154567375
// Offcanvas Menu End

// Header Section Begin
header.header-section.header-normal
  .header__info
    .container
      .row
        .col-lg-6.col-md-6
          .header__info-left
            ul
              li
                span.fa.fa-envelope
                |  i_robot.ir@yahoo.com
              li
                span.icon_phone
                |  09154567375
        .col-lg-6.col-md-6
          .header__info-right
            ul
              if(user)
                li
                  span
                  | کیف پول: 
                  =`${user.credit} تومان`
                li
                  a(href='/profile')
                    span.fa.fa-user
                    | کنترل پنل
                li
                  a.logout(href='/logout')
                    span.fa.fa-sign-out
                    | خروج
              else
                li
                  a(href='/signin')
                    span.fa.fa-user
                    | ثبت نام/ ورود
  .container
    .row
      .col-lg-3.col-md-3
        .header__logo
          a(href='/')
            img(src='/img/logo.png', alt='')
      .col-lg-9.col-md-9
        nav.header__menu
          ul
            li
              a(href='/contact') تماس باما
            li
              a(href='/about') درباره ما
            li
              a(href='/pricing') اشتراک‌ها
            li.active
              a(href='/') خانه
    .canvas__open
      span.fa.fa-bars
