extends admin_base

block content
  script.
    timeLimit='#{timeLimit}'
  .card.shadow.mb-4
    .card-header.py-3.d-sm-flex.align-items-center.justify-content-between
      h6.m-0.font-weight-bold.text-primary ربات جدید
      h6.m-0.font-weight-bold.text-primary.text_right= `اعتبار ربات: ${timeLimit} روز`
    .card-body
      include botData
      button#newbot.btn.btn-primary.btn-icon-split
        span.icon.text-white-100 ساختن
        .rotator(style="display:none")