doctype html
head
  title i-robot
  meta(charset='UTF-8')
  meta(name='description', content='Deerhost Template')
  meta(name='keywords', content='Deerhost, unica, creative, html')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  // Google Font
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap', rel='stylesheet')
  // Css Styles
  link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='/css/font-awesome.min.css', type='text/css')
  link(rel='stylesheet', href='/css/elegant-icons.css', type='text/css')
  link(rel='stylesheet', href='/css/flaticon.css', type='text/css')
  link(rel='stylesheet', href='/css/owl.carousel.min.css', type='text/css')
  link(rel='stylesheet', href='/css/slicknav.min.css', type='text/css')
  link(rel='stylesheet', href='/css/style.css', type='text/css')
  link(rel='stylesheet', href='/css/personal.css', type= 'text/css')
  link(href="/css/main.css" rel="stylesheet" type="text/css" )
  link(href="/css/sb-admin-2.min.css" rel="stylesheet")


  block head

body
  // Page Preloder
  #preloder
    .loader

  // Navigation
  include _header

  block content
    h1 this is a placeholder

  // Footer
  include _footer

  //- // Scroll to Top Button
  //- a.scroll-to-top.rounded(href='#page-top')
  //-   i.fas.fa-angle-up

  script(src='/js/jquery-3.3.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.slicknav.js')
  script(src='/js/owl.carousel.min.js')
  script(src='/js/main.js')

  script(src='/js/bundle.js')




  block script
