extend base

block content
  section.section-404.spad
    .container
      .row
        .col-lg-12
          .text__404
            img(src='img/404.png', alt='')
            h3 Opps! This page Could Not Be Found!
            p= msg
            form(action='#')
              input(type='text', placeholder='Enter your keyword')
              button(type='submit')
                i.fa.fa-search
