ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.ml-3(href='/')
    img(src='/img/logo.png', alt='') 
  // Divider
  hr.sidebar-divider.my-0
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href='/godPanel')
      i.fas.fa-fw.fa-tachometer-alt
      span God view
  // Divider
  hr.sidebar-divider
  // Heading
  .sidebar-heading
    | Interface
  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link(href='/god_view_users')
      i.fas.fa-fw.fa-chart-area
      span users
  li.nav-item
    a.nav-link(href='/god_view_bots')
      i.fas.fa-fw.fa-chart-area
      span bots
  li.nav-item
    a.nav-link(href='/god_view_messages')
      i.fas.fa-fw.fa-chart-area
      span messages
  li.nav-item
    a.nav-link(href='/god_view_bills')
      i.fas.fa-fw.fa-chart-area
      span bills
