extends God_base
block content
  .card.shadow.mb-4
    .card-header.py-3
      h5.m-0.font-weight-bold.text-primary.text-right God view
    .card-body
      .row
        .col-xl-2.col-md-1.mb-5
          .card.border-left-success.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 users
                  .h5.mb-0.font-weight-bold.text-gray-800= 'sfdsg'
        .col-xl-2.col-md-1.mb-5
          .card.border-left-danger.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 bots
                  .h5.mb-0.font-weight-bold.text-gray-800= 'sfdsg'
        .col-xl-2.col-md-1.mb-5
          .card.border-left-primary.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 bills
                  .h5.mb-0.font-weight-bold.text-gray-800= 'sfdsg'
        .col-xl-2.col-md-1.mb-5
          .card.border-left-warning.shadow.h-100.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 messages
                  .h5.mb-0.font-weight-bold.text-gray-800= 'sfdsg'