extends base

block content
  // Hero Section Begin
  section.hero-section
    .hero__slider.owl-carousel
      .hero__item.set-bg(data-setbg='img/hero/hero-1.jpg')
        .container
          .row
            .col-lg-6
              .hero__text
                h2
                  | جذب ماهیانه بیشتر از ۱۰۰۰ فالوور
                  br
                  |  تضمینی و بدون بلاک شدن
                a.primary-btn(href='#') شروع سرویس
            .col-lg-6
              .hero__img
                img(src='img/hero/hero-right.png', alt='')
      .hero__item.set-bg(data-setbg='img/hero/hero-1.jpg')
        .container
          .row
            .col-lg-6
              .hero__text
                h2
                  | اولین باشید i-robot با
                a.primary-btn(href='#') شروع سرویس
            .col-lg-6
              .hero__img
                img(src='img/hero/hero-right.png', alt='')
  // Hero Section End
  section.choose-plan-section.spad
    .container
      .row
        .col-lg-6.col-md-6
          img(src='img/choose-plan.png', alt='')
        .col-lg-6.col-md-6
          .plan__text
            h3 آی ربات" چیست؟"
            p .آی ربات" یک ربات اینستاگرام هست که به شما کمک میکنه تا تعداد فالوور هاتون رو افزایش بدین"
            p .از ویژگی های این ربات میتوان به فالوو کردن، انفالوو، لایک، ارسال کامنت، و ارسال دایرکت اشاره کرد
            a.primary-btn(href='#') همین حالا شروع کنید
  // Services Section Begin
  section.services-section.spad
    .container
      .row
        .col-lg-12
          .section-title
            h3 Choose the right hosting solution
      .row
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Shared Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Wordpress Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Dedicated Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 SSL certificate
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Web Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Cloud server
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  // Services Section End
  // Register Domain Section Begin
  section.register-domain.spad
    .container
      .row.d-flex.justify-content-center
        .col-lg-8
          .register__text
            .section-title
              h3 Register Your Domain Now!
            .register__form
              form(action='#')
                input(type='text', placeholder='ex: cloudhost')
                .change__extension
                  | .com
                  ul
                    li .net
                    li .org
                    li .me
                button.site-btn(type='submit') Search
            .register__result
              ul
                li
                  | .com 
                  span $1.95
                li
                  | .net 
                  span $1.95
                li
                  | .org 
                  span $1.95
                li
                  | .us 
                  span $1.95
                li
                  | .in 
                  span $1.95
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
  // Register Domain Section End
  
  // Pricing Section Begin
  section.pricing-section.spad
    .container
      .row
        .col-lg-7.col-md-7
          .section-title.normal-title
            h3 سرویس ها
      .row.monthly__plans.active
        .col-lg-4.col-md-6.col-sm-6
          .pricing__item
            h4 استاندارد
            h3
              span  ماه/
              | 100,000 تومن
            ul
              li .توی این بسته شما میتونید یک ربات برای خودتون بسازید
              li .مدت زمانی که ربات میتونه فعالیت داشته باشه یک ماه هست
            a.primary-btn(href='/service/standard') خرید سرویس
        .col-lg-4.col-md-6.col-sm-6
          .pricing__item
            h4 نقره‌ای
            h3
              span ماه/
              | 200,000 تومن
            ul
              li .در این سرویس شما میتونید ۳ ربات بصورت هم زمان داشته باشید
              li .مدت زمان که هر ربات میتونه فعالیت کنه ۳۰ روز هست
              li .منطق این سرویس به این صورت هست که شما یک ربات را روی پیج اصلیتون فعال میکنید و دو ربات دیگه را روی پیج‌های فیکتون که پیج اصلی رو تبلیغ میکنن فعال میکنید
            a.primary-btn(href='/service/silver') خرید سرویس
        .col-lg-4.col-md-6.col-sm-6
          .pricing__item
            h4 طلایی
            h3
              span ماه/
              | 300,000 تومن  
            ul
              li .در این سرویس شما میتونید ۵ ربات بصورت هم زمان داشته باشید
              li .مدت زمان که هر ربات میتونه فعالیت کنه ۳۰ روز هست
              li .منطق این سرویس به این صورت هست که شما یک ربات را روی پیج اصلیتون فعال میکنید و ۴ ربات دیگه را روی پیج‌های فیکتون که پیج اصلی رو تبلیغ میکنن فعال میکنید
            a.primary-btn(href='/service/golden') خرید سرویس

  // Achievement Section Begin
  section.achievement-section.set-bg.spad(data-setbg='img/achievement-bg.jpg')
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6
          .achievement__item
            span.fa.fa-user-o
            h2.achieve-counter 2468
            p مشتری‌ها
        .col-lg-6.col-md-6.col-sm-6
          .achievement__item
            span.fa.fa-cog
            h2.achieve-counter 2468
            p ربات‌های فعال
  // Achievement Section End
  // Work Section Begin
  section.work-section.spad
    .container
      .row
        .col-lg-12
          .section-title
            h3 از کجا باید شروع کنم؟
          .work__text
            .row
              .col-lg-6
                .work__item
                  i.fa.fa-desktop
                  span اولین اکانت خود را خریداری کنید
                  h3 اکانت استاندارد
                  p
                    | .اکانت استاندارد شامل یک ربات میباشد که به مدت یک ماه میتواند فعالیت کند
                    | .این ربات قادر به فالوو ، آنفالو،‌ لایک، ارسال کامنت و دایرکت میباشد
                    br
                    | .اگه پیج اینستا تون رو تازه راه انداختین و نمیخواین خیلی هزینه کنید این بهترین گزینه برای شماست
                  a.primary-btn(href='#') انتخاب
              .col-lg-6
                .work__item
                  i.fa.fa-shopping-bag
                  span تازه با ما آشنا شدید. نگران نباشید
                  h3 اکانت رایگان
                  p
                    | اگه این اولین بار هست که میخواین از ربات ما استفاده کنید و هنوز از کیفیت خدمات ما مطمئن نیستید
                    | .میتونید از یک هفته اکانت رایگان ما استفاده کنید تا با خیال مطمئن خرید کنید
                    br
                    | .این اکانت درست مثل بقیه اکانت ها عمل میکنه فقط مدت زمانش یک هفته هست
                  a.primary-btn(href='#') انتخاب
  // Work Section End
  // Choose Plan Section Begin

  // Choose Plan Section End
