extends base

mixin items()
  li.fa.fa-check 
  | جذب فالوور واقعی
  br
  li.fa.fa-check 
  | فقط جذب فالوور هدف ایرانی
  br
  li.fa.fa-check 
  | کامنت اتوماتیک
  br
  li.fa.fa-check 
  | لایک اتوماتیک
  br
  li.fa.fa-check 
  | دایرکت اتوماتیک
  br
  li.fa.fa-check
  | راه اندازی راحت و سریع
  br
  li.fa.fa-check 
  |امار لحظه‌ای پیشرفت پیج شما

block content
  // Hero Section Begin
  section.hero-section
    .hero__slider.owl-carousel
      .hero__item.set-bg(data-setbg='img/hero/hero-1.jpg')
        .container
          .row
            .col-lg-6
              .hero__img
                img(src='img/hero/hero-right.png', alt='')
            .col-lg-6
              .hero__text
                h2
                  | جذب ماهیانه بیشتر از ۱۰۰۰ فالوور
                  br
                  |  یک هفته تست رایگان
                a.primary-btn(href='/pricing') شروع سرویس
            
      .hero__item.set-bg(data-setbg='img/hero/hero-1.jpg')
        .container
          .row
            .col-lg-6
              .hero__img
                img(src='img/hero/hero-right.png', alt='')
            .col-lg-6
              .hero__text
                h2
                  | دیده شوید i-robot با
                a.primary-btn(href='/pricing') شروع سرویس
  // Hero Section End
  section.choose-plan-section.spad
    .container
      .row
        .col-lg-6.col-md-6
          img(src='img/choose-plan.png', alt='')
        .col-lg-6.col-md-6.text-right
          .plan__text
            h3 آی ربات" چیست؟"
            p .آی ربات" قوی ترین ربات اینستاگرام است که با مجموعه‌ای از خدمات شامل فالوو کردن اتوماتیک، انفالوو‌ کردن اتوماتیک، لایک ،‌کامنت و دایرک اتوماتیک; با پیدا کردن فالوور های واقعی هدف شما که کاملا ایرانی هستن در کوتاه ترین زمان ممکن پیج شما را به برترین پیج اینستاگرام در حوضه‌ی کاری شما ارتقا می‌دهد. به شما کمک میکنه تا تعداد فالوور هاتون رو افزایش بدین"
            a.primary-btn(href='/pricing') همین حالا شروع کنید
  // Services Section Begin
  section.services-section.spad
    .container
      .row
        .col-lg-12
          .section-title
            h3 امکانات ربات
      .row.text-right
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            i.fa.fa-user-o
            h5 فالوو و انفالوو کردن اتوماتیک
            p ربات بصورت خودکار در ساعات مشخص شروع به فالوو و انفالوو کردن افراد هدف شما میکنه و به این ترتیب فالوور های پیج شمارو افزایش میده
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            i.fa.fa-heart-o
            h5 لایک اتوماتیک 
            p ربات به صورت اتوماتیک پست‌های دیگران رو لایک میکنه و از این طریق باعت جذف فالوور بیشتر به پیج شما میشه
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            i.fa.fa-wechat
            h5 ارسال کامنت و دایرکت
            p با کامنت گذاری پست ها و ارسال دایرکت به افراد امکان دیده شدن پیج شما افزایش پیدا خواهد کرد
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            i.fa.fa-cog
            h5 مدیریت آسان
            p با کنترل پنل ساده و کاملی که برای شما طراحی شده هرچه راحت تر ربات خود را مدیریت کنید تا بیشتری بازدهی رو بدست بیارید
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            i.fa.fa-area-chart
            h5 آمار لحظه‌ای ربات
            p در طول روز میتونید به راحتی به امار ربات دسترسی داشته باشید و از عملکرد درست ربات مطمئن باشید
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            i.fa.fa-line-chart
            h5 آمار پیشرفت پیج
            p با امار لحظه‌ای پیج ، میتونید هر لحظه از پیشترفت پیجتون لذت ببرید
  // Services Section End
  // Register Domain Section Begin
  section.register-domain.spad#discountPlan
    .container
      .row.d-flex.justify-content-center
        .col-lg-8
          .register__text
            .section-title
              h3 طرح تخفیف
            .work__text.text-right
              span .یه طرح ویژه براتون اماده کردیم
              br
              span در هنگام ثبت نام شما یک یوزرنیم برای خودتون انتخاب میکنید. این یوزرنیم میتونه به عنوان کد معرف شما عمل کنه. به چه صورت؟
              br
              span شما سایت ما رو به دوستاتون معرفی میکنید،‌ بعد دوستان شما هنگام ثبت نام در قسمت کد معرف ، کد شما رو وارد میکنه، با
              span انجام این کار، دوست شما در اولین خریدش ۲۰ درصد تخفیف میگیری. اما چه سودی برای شما داره؟
              br
              span قسمت هیجان انگیزش اینجاست. در ازای هر خریدی که دوستان شما انجام بدن، ۱۰ درصد از مبلغ خرید اونها به حساب شما در سایت واریز میشه 
              span به این صورت اگه شما ۱۰ نفر از دوستاتون رو به ما معرفی کنید استفاده از خدمات سایت برای شما رایگان میشه
              
  // Register Domain Section End
  
  // Pricing Section Begin
  section.pricing-section.spad
    .container
      .row
        .col-lg-12.col-md-12
          .section-title.normal-title.text-center
            h3 اشتراک‌ها
      .row.monthly__plans.active
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 رایگان
            h3
              span
              | بیشتر از ۲۰۰ فالوور
            ul
              +items()
            h3
              span  
              | رایگان
            a.primary-btn(href='/service/free') خرید سرویس
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 یک ماهه
            h3
              span
              | بیشتر از 1000 فالوور
            ul
              +items()
            h3
              span  ماه/
              | 49,000 تومن
            a.primary-btn(href='/service/standard') خرید سرویس
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 دو ماهه
            h3
              span 
              | بیشتر از ۲۵۰۰ فالوور
            ul
              +items()
            h3
              span ماه/
              | 89,000 تومن
            a.primary-btn(href='/service/silver') خرید سرویس
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 سه ماهه
            h3
              span 
              | بیشتر از ۴۰۰۰ فالوور
            ul
              +items()
            h3
              span ماه/
              | 129,000 تومن
            a.primary-btn(href='/service/golden') خرید سرویس

  // Achievement Section Begin
  section.achievement-section.set-bg.spad(data-setbg='img/achievement-bg.jpg')
    .container
      .row
        .col-lg-6.col-md-6.col-sm-6
          .achievement__item
            span.fa.fa-user-o
            h2.achieve-counter= usersNumber
            p مشتری‌ها
        .col-lg-6.col-md-6.col-sm-6
          .achievement__item
            span.fa.fa-cog
            h2.achieve-counter= botsNumber
            p ربات‌های فعال
  // Achievement Section End
  // Work Section Begin
  section.work-section.spad
    .container
      .row
        .col-lg-12
          .section-title
            h3 از کجا باید شروع کنم؟
          .work__text
            .row
              .col-lg-6
                .work__item
                  i.fa.fa-shopping-bag
                  span اولین اکانت خود را خریداری کنید
                  h3 اکانت یک ماهه
                  p
                    | اولین پیشنهادی که برای  شما داریم اکانت یک ماهه هست. در این اکانت شما میتونید به مدت یک ماه از خدمات ربات که شامل فالوو و آنفالوو کردن، لایک اتوماتیک، کامنت اتوماتیک و دایرکت اتوماتیک استفاده کنید
                    br
                    | .اگه پیج اینستا تون رو تازه راه انداختین و نمیخواین خیلی هزینه کنید این بهترین گزینه برای شماست
                  a.primary-btn(href='/service/standard') انتخاب
              .col-lg-6
                .work__item
                  i.fa.fa-money
                  span تازه با ما آشنا شدید. نگران نباشید
                  h3 اکانت رایگان
                  p
                    | اگه این اولین بار هست که میخواین از ربات ما استفاده کنید و هنوز از کیفیت خدمات ما مطمئن نیستید
                    | .میتونید از یک هفته اکانت رایگان ما استفاده کنید تا با خیال مطمئن خرید کنید
                    br
                    | .این اکانت درست مثل بقیه اکانت ها عمل میکنه فقط مدت زمانش یک هفته هست
                  a.primary-btn(href='/service/free') انتخاب
  // Work Section End
  // Choose Plan Section Begin

  // Choose Plan Section End
