extends base
block content
  .contact-form.spad
    .container
      .row
        .col-lg-12#recovery
          .section-title
            h3  بازیابی رمز عبور
          form.text-center(action='#')
            .row
              .col-lg-12
                label(for="email") جهت بازیابی رمز عبور ایمیل خود را وارد کنید
                .input-list
                  input.w-75(type='text' name='email' placeholder='ایمیل')
            button#passwordRecovery.site-btn ادامه 
        .col-lg-12#message(style='display:none')
          .section-title
            h3  ایمیل بازیابی به ادرس ایمیل شما ارسال شد. جهت ادامه فرایند به ایمیل خود مراجعه کنید