extends base
block content
  section.pricing-section.spad
    .container
      .row
        .col-lg-7.col-md-7
          .section-title.normal-title
            h3 سرویس ها
      .row.monthly__plans.active
        .col-lg-4.col-md-6.col-sm-6
          .pricing__item
            h4 استاندارد
            h3
              span  ماه/
              | 100,000 تومن
            ul
              li .توی این بسته شما میتونید یک ربات برای خودتون بسازید
              li .مدت زمانی که ربات میتونه فعالیت داشته باشه یک ماه هست
            a.primary-btn(href='/service/standard') خرید سرویس
        .col-lg-4.col-md-6.col-sm-6
          .pricing__item
            h4 نقره‌ای
            h3
              span ماه/
              | 200,000 تومن
            ul
              li .در این سرویس شما میتونید ۳ ربات بصورت هم زمان داشته باشید
              li .مدت زمان که هر ربات میتونه فعالیت کنه ۳۰ روز هست
              li .منطق این سرویس به این صورت هست که شما یک ربات را روی پیج اصلیتون فعال میکنید و دو ربات دیگه را روی پیج‌های فیکتون که پیج اصلی رو تبلیغ میکنن فعال میکنید
            a.primary-btn(href='/service/silver') خرید سرویس
        .col-lg-4.col-md-6.col-sm-6
          .pricing__item
            h4 طلایی
            h3
              span ماه/
              | 300,000 تومن  
            ul
              li .در این سرویس شما میتونید ۵ ربات بصورت هم زمان داشته باشید
              li .مدت زمان که هر ربات میتونه فعالیت کنه ۳۰ روز هست
              li .منطق این سرویس به این صورت هست که شما یک ربات را روی پیج اصلیتون فعال میکنید و ۴ ربات دیگه را روی پیج‌های فیکتون که پیج اصلی رو تبلیغ میکنن فعال میکنید
            a.primary-btn(href='/service/golden') خرید سرویس
