extends base
block content
  script.
    const token = !{jsStringify(token)}

  .contact-form.spad
    .container
      .row
        .col-lg-12#recovery
          .section-title
            h3  رمز عبور خود را وارد کنید
          form.text-center(action='#')
            .row
              .col-lg-12
                .input-list
                  input.text-right.pr-2.w-75(type='password' name='password' placeholder='پسورد')
                  input.text-right.pr-2.w-75(type='password' name='passwordConfirm' placeholder='تکرار پسورد')
            button#resetPassword.site-btn ثبت 