extends base

block content
  .contact-form.spad
    .container
      .row
        .col-lg-6
          .section-title
              h3 ثبت نام
          form(action='#')
            .row
              .col-lg-12
                .input-list
                  input.w-75(type='text' name='name' placeholder='نام')
                  input.w-75(type='text' name='username' placeholder='نام کاربری')
                  input.w-75(type='email' name='email' placeholder='ایمیل')
                  input.w-75(type='password' name='password' placeholder='پسورد')
                  input.w-75(type='password' name='passwordConfirm' placeholder='تکرار پسورد')
                  input.w-75(type='text' name='introducer' placeholder='کد معرف')
            button#signup.site-btn ادامه 
        .col-lg-6
          .section-title
            h3 ورود
          form(action='#')
            .row
              .col-lg-12
                .input-list
                  input.w-75(type='text' name='email1' placeholder='ایمیل')
                  input.w-75(type='password' name='password1' placeholder='پسورد')
            button#signin.site-btn ورود
