@font-face {
  font-family: yekan;
  /* font-size: ; */
  src: url(./../fonts/Yekan.ttf);
}

html * {
  font-family: yekan;
}

.error_title {
  color: red;
  margin-bottom: 40px;
}

.error_msg {
  color: black;
  font-size: medium;
}

.error {
  padding-top: 300px;
  min-height: 84vh;
}

.main {
  background-color: rgb(240, 196, 196);
}

::placeholder {
  color: gray !important;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

tbody > tr:hover {
  background-color: rgb(195, 216, 233) !important;
}

/* DataTable css */
td.details-control {
  background: url('../images/add.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../images/minus.png') no-repeat center center;
}
